.modes {
  display: flex;
  width: 300px;
  column-gap: 20px;
  margin: 0 auto;

  .mode {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    background-color: indigo;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  .mode:hover {
    background-color: rgb(104, 4, 176);
  }
}
