.words {
  padding: 10px;
  background-color: #fff;
  border: 8px solid #9eb3ce;
  min-width: 900px;
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 40px;

  .gray-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    width: 50%;
    background-color: rgb(233, 233, 233);
  }

  .start {
    display: flex;
    column-gap: 30px;
    white-space: pre-wrap;
    justify-content: center;

    & span {
      font-size: 50px;
      letter-spacing: 5px;
      font-weight: lighter;
      font-family: "Times New Roman", Times, serif;
      width: 50%;
    }

    & span:first-child {
      text-align: right;
    }
  }
  .sentences {
    display: flex;
    width: 100%;
    justify-content: center;
    white-space: pre-wrap;
    word-spacing: 10px;

    .done {
      width: 50%;
      text-align: right;
      font-size: 50px;
      font-family: "Times New Roman", Times, serif;
      overflow: hidden;
      white-space: nowrap;
      direction: rtl;
    }
    .undone {
      width: 50%;
      font-size: 50px;
      font-family: "Times New Roman", Times, serif;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .visualisation {
    display: flex;
    column-gap: 30px;

    .hand {
      background-image: url("../../public/hands.png");
      background-size: cover;
      width: 190px;
      height: 190px;
      background-repeat: no-repeat;
    }

    .right-hand {
      background-position: -190px 0;
    }

    .left-hand {
      background-position: 0 0;
    }
  }

  .manages {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
    width: 80%;
    height: 20px;
    column-gap: 3px;

    .manage_item {
      height: 24px;
      width: 32px;
      cursor: pointer;
    }

    .keyboard-setting {
      background-image: url("../../public/typing-app-settings.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    .hands-setting {
      background-image: url("../../public/typing-app-settings.png");
      background-repeat: no-repeat;
      background-position: -69px 0;
    }

    .ban-setting {
      background-image: url("../../public/typing-app-settings.png");
      background-repeat: no-repeat;
      background-position: -138px 0;
    }

    .nokeyboard-setting {
      background-image: url("../../public/typing-app-settings.png");
      background-repeat: no-repeat;
      background-position: -35px 0;
    }

    .nohands-setting {
      background-image: url("../../public/typing-app-settings.png");
      background-repeat: no-repeat;
      background-position: -103px 0;
    }

    .noban-setting {
      background-image: url("../../public/typing-app-settings.png");
      background-repeat: no-repeat;
      background-position: -173px 0;
    }
  }
}
